extends layout

block mainContent
	div(class="Privacy")
		- if(Language == "Ch")
			h2 阁下的私隐权利
			p 芮欧百货(上海)有限公司（下称“芮欧百货”、“我们”、“我们的”或“我们”(受格形式)）在收集、保存、使用及传送个人数据时，尊重法例赋予阁下的私隐权利；而本“私隐政策声明”旨在说明我们处理个人私隐的方法。
			p 以下将详细说明我们处理个人数据的政策及方法，请仔细参阅及理解。文中所述的政策适用于已在本网站登记或未登记的所有使用者。另我们有权按需要随时更新、修订、重新公布或更改有关的内容。
			p 本“私隐政策声明”中没有加上明确解释的用字或词语，其涵义与“使用条款”及“芮欧百货规则”给予该等字词的涵义相同。
			p 倘本声明的英文本与中文本有任何差异的地方，则以英文本为准。
			p “个人资料”指任何可识别个人身份或敏感性的资料（例如姓名、职业、地址、联络数据、八达通卡号码及信用卡数据等(但亦可包括其它的数据及数据)，藉以在切实可行下确定个别人仕的身份）。
			h2 使用个人资料的用途 
			p 当你登记成为本网站的使用者，我们将收集你的个人资料。
			p 倘你为13岁以下，在提供任何个人资料前，必须先征求家长或监护人同意。我们可能将你的个人资料用作两种用途：强制性及自愿性用途。若个人资料用作强制性 用途，如你希望我们提供你申请的服务，你必须向我们提供你的个人资料。如个人资源只用作自愿性用途，你可以告知我们不要将你的个人资料用作该用途，我们将 不会使用你的个人资料作该用途。
			p
				| 你必须提供个人资料的强制性用途包括：
				br
				| 1、申请、终止及延续本网站的使用；
				br
				| 2、处理账项及缴付费用；
				br
				| 3、处理及跟进服务要求、查询及投诉；
				br
				| 4、供我们及第三者作日后巿场研究之用；
				br
				| 5、核实阁下的身份；
				br
				| 6、让我们更加了解已登记用户的统计资料；
				br
				| 7、促使我们或我们的附属机構，或接收该等资料的机構得以为阁下提供我们相信适合阁下或阁下可能感兴趣的网页或其她电子服务。
			h2 资料的披露
			p
				| 我们在收集阁下的个人资料时，将会：
				br
				| i. 向阁下说明我们正在收集阁下的个人资料以及收集的用途（以本「收集个人资料声明」或独立通知）；
				br
				| ii. 给阁下“否决”的机会（即限制我们使用有关的个人数据作某些指定用途）；
				br
				| iii. 说明我们如何储存个人数据的方法，以及可供阁下查阅、更改及删除已储存个人数据的方法。
			p
				| 除已在本“私隐政策声明”中明确指出的情况外，我们绝不会披露阁下的个人资料，除非有关要求乃法例所需，或我们合理地相信此等行动是需要：
				br
				| i.符合法例或适用的规例；
				br
				| ii.保障及就我们的权利及财产作出抗辩；
				br
				| iii.保障芮欧百货免受误用或在未经许可的情况下擅自使用；
				br
				| iv.保障我们的使用者或公众的个人安全或财产。
			h2 与其它网页的连结
			p 本“收集个人资料声明”只适用于本网站。倘阁下按任何广告或连结其它网页的超级链接（hyperlink），即会离开本网站而进入另一个位置，我们并不负责保护阁下在浏览其它网页时可能泄漏的私隐、个人数据及可能受到 “曲其” (cookies) 的干扰 /影响 ，阁下应自行参阅该位置的私隐政策（如有者）。
			h2 网络纪录
			p 当阁下进入本网站后，我们的服务器软件会记录阁下的计算机域名，并追查阁下曾浏览的每一网页，目的是计算本网站的通讯量、各部分数据的受欢迎程度、搜集浏览者的一般数据、及向广告客户推销网站服务。在此情况下，该等广告客户有可能会获得一些撮要的通讯量数据，但这些数据并不会揭露阁下的个人身份。
			h2 保安
			p 除以上第3点所述外，阁下的个人数据不论如何储存，均只限于已获我们授权的雇员或承办商才可以取用。利用电子方式储存的个人数据以独立的服务器保存，并加有密码保护（或同等形式的保护措施）。
			h2 法律程序中个人数据的应用
			p 阁下已明确同意在我们可基于任何原因，包括因追讨阁下拖欠的款项而须向阁下采取任何行动时，我们可以根据阁下所提供的个人资料识别阁下的身份并向阁下采取法律行动。
			h2 存取及保留个人资料的权利
			p 阁下可随时要求存取及更正我们纪录中与阁下有关的个人资料，阁下亦可要求我们从任何运作中的邮递或分发名单中删除阁下的数据。倘阁下须行使任何应有权利时，可按以下地址致函给我们，并在信封面上注明“保密”字样。我们在响应阁下的要求时，可能要求阁下提供某些个人资料，以确定阁下确实是所处理数据的当事人。在阁下提出要求后，我们是需要在切实可行的情况下，于40天内给予回复，但阁下可能因此而需缴付费用。
			h2 资料的保留
			p
				| 我们将按收集资料目的所需的时间保留你的个人资料。
				br
				| 无需保留的个人资料将会销毁。 
				br
				| 芮欧百货(上海)有限公司有权修改本“私隐政策声明”，而有关修改将登载于本网页上。 
		- if(Language == "En")
			h2 Rights to Privacy
			p Réel Shanghai Department Store Co., Ltd. (hereinafter referred to as " Réel Department ", "We", "Our" or "Us") respects your right to privacy conferred by law in the collection, storage, use and transmission of personal data; and the "terms and conditions" explains our approach to handling personal privacies. In the following part we will explain our policy and method of processing personal data in details, please read carefully for understanding. The policy described in the text is applicable to all users registered or unregistered to the website. In addition, we have the right to update, amend, re-publish or change related content where we deem necessary.
			p Meaning of word or expression that is not coupled with a clear explanation in this "Terms and conditions" is the same to that used in "Terms of Use" and "Réel Department Store Regulations". In case of conflict or discrepancy between the English and the Chinese version of this statement, the former shall prevail. "Personal Data" refers to any data that distinguish personal identity or sensitivity such as name, occupation, address, contact data, Octopus card number and credit card data, etc, also including other data or information with which the identity of an individual person can be confirmed.
			h2 Purpose of Using Personal Data
			p When you register to use this website, we will collect your personal information. If you are under the age of 13, before providing any personal informa- tion, you must first obtain parental or guardian consent. We may use your personal data for two purposes: mandatory and voluntary purposes. If the personal data are used for mandatory purpose like you want us to provide the services you request, you must provide us with your personal data. If personal data are used for voluntary purpose only, you can tell us you do not wish your personal data used for such purposes, we will not use your person- al data for that purpose. The mandatory uses of personal data you must provide include:
			p 
				| 1 application, termination and continuation of use of this website
				br
				| 2 handle billing and payment
				br
				| 3 treatment and request of follow-up services, inquiries and complaints
				br
				| 4 for ours and for the third party’s future market research
				br
				| 5 to verify your identity
				br
				| 6 for our better understanding of the statistics of registered users and
				br
				| 7 help us or our affiliates, or organization receiving such information to provide you web page or other electronic services that we believe may suit your or you may be of interest.
			h2 Disclosure of Data
			p When we collect your personal data, we will:
			p 
				| i. inform you that we are collecting your personal data and the collecting purposes (through the "Personal Data Collection Statement" or separat notice)
				br
				| ii. give you a "veto" choice (i.e. limit our use of personal data for certain specified purposes) and explain to you how we store personal data, and you can review, change, and delete stored personal data.
			p Except the situation expressly state in the "Privacy Policy Statement", we will not disclose your personal data, unless required so by law, or we reasona- bly believe that such action is necessary:
			p 
				| i. comply with applicable laws or regulations
				br
				| ii. protect and defend in respect to our rights and property
				br
				| iii. safeguard against the misuse or unauthorized of Réel Shanghai Department Store
				br
				| iv. and protect our users or the public's personal safety or property.
			h2 Links to other Websites
			p The "Personal Data Collection Statement" applies only to this website. If you click on any ads or hyperlink to other web pages, you will leave the site and enter into another location that we are not responsible for protecting your possible leakage of privacy, personal data or interference/influence by cookies when browsing other web pages; you are advised to refer to the privacy policies of that position (if any).
			h2 Web Cookies
			p When you visit our website, our server software will record down the domain name of your computer and track every page you visit to calculate the amount of traffic on this website, the popularity of each part of the data, collect surfers’ general data, and sell web services to advertisers. In this case, the advertiser may get some summary of the traffic data, but the data will not reveal your personal identity. .
			h2 Security
			p Except for the above article 3, regardless how your personal data are stored, they are only accessible by our authorized employees or contractors. Elec- tronically stored personal data will be saved to a separate server with password protection (or equivalent forms of protection).
			h2 Use of Personal Data in Legal Procedure
			p You expressly agree that we can for any reason, including taking any action which would fall to you for the recovery of your outstanding amounts, identify your identity and take legal action to you according to your personal data provided.
			h2 Right to Store and Keep Personal Data
			p You may at any time request access to and correction of your personal data in our records, and you may also ask us to delete your data from any active mailing or distribution list. If you should require the exercise of any right, write to us at the address below, and mark "Confidential" in the envelope. In response to your request we may ask you to provide certain personal information to determine that you are the subject of your data being processed. In your request, we are required to reply within 40 days in practicable situation, but you may thereof need to pay a fee.
			h2 Retaining Personal Data
			p We will keep your personal data to the time necessary for the purpose of collecting your information.Personal data that are unnecessary for retaining will be destroyed.Réel Department Store reserves the right to amend this "terms and conditions" and such changes will be posted on the website.
