extends layout

block mainContent
	div(class="ContactUs")
		p
			img(src="/images/Recruiting/Title.png")
		p 
			| Applicants who are interested in joining in Réel Department Store can send the resume to XXX@reelshanghai.com, and the Companywill arrange interviews according to the post requirements. Information of applicants who are not informed of the interview or recruitment will be kept in the Company's Human Resources Department and will not be returned. No call or visit allowed.
			br
			| Links to other human resources websites:
			br
			a(href="//www.51job.com") www.51job.com
			br
			a(href="//www.ChinaHR.com") www.ChinaHR.com