extends layout

block mainContent
	div(class="Search")
		- if(SearchResult && SearchResult.length > 0)
			- each ResultItem in SearchResult
				div(class="TopLevel") #{ResultItem.Title}
				div(class="SecondLevel")
					a(href="#{ResultItem.URL}") &gt;&nbsp#{ResultItem.ShortDescription}
		- else
			div(class="TopLevel") 您输入的搜寻字串找不到任何结果
		//- div(class="TopLevel")
		//- 	a(href="/") News
		//- div(class="SecondLevel")
		//- 	a(href="/Brands")
		//- 		| &gt;&nbsp;
		//- 		- if(Language=="En")
		//- 			| Women
		//- 		- if(Language=="Ch")
		//- 			| 女装
		//- div(class="TopLevel") #{ResultItem.Title}