extends layout

block mainContent
	div(class="Search")
		- if(SearchResult && SearchResult.length > 0)
			- each ResultItem in SearchResult
				div(class="TopLevel") #{ResultItem.Title}
				div(class="SecondLevel")
					a(href="#{ResultItem.URL}") &gt;&nbsp#{ResultItem.ShortDescription}
		- else
			img(class="NotFound", src="/images/Search/NotFound_#{Language}.jpg")