extends services

block mainContent
	div(class="Services")
		div(class="Content MemberShipBook")
			img(src="/images/Services/Regulations_01.png")
			br
			br
			- each Content in ContentArray
				- if (Content.indexOf("#Paragraph#") >= 0) 
					p #{Content.replace("#Paragraph# ", "")}
				- if (Content.indexOf("#Head#") >= 0) 
					h3 #{Content.replace("#Head# ", "")}
				- else
					span #{Content}
					br

