extends services

block mainContent
	div(class="Services")
		div(class="Content Membership")
			img(src="/images/Services/Membership_En_01.png")
			br
			table
				tr
					td(class="TopHead" style="width:105px;")
					td(class="TopHead" style="width:200px;") Tracking Card
					td(class="TopHead" style="width:200px;") Réel Silver Card
					td(class="TopHead") Réel Gold Card
				tr
					td(class="Title") Member's Privileges
					td This card can only be used for accumulating consumption points; it’s not the membership card that the cardholder is not allowed to enjoy the member’s privileges and benefits until the consumption points are accumulated to 10,000 and the silver card is activated.
					td
						| Consumers may apply for the silver card on the same day or within 30 years from the date of issuing the tracking card or in one year of the membership period once the qualification points are accumulated to or over 10,000.
						br
						| (One card for each consumer)
					td
						| Consumers may apply for the silver card on the same day or within 30 years from the date of issuing the tracking card or in one year of the membership period once the qualification points are accumulated to or over 10,000.
						br
						| (One card for each consumer)
				tr
					td(class="Title") Application methods
					td
						| The tracking card is unregistered, and customers can apply for the card at cashers on B1F to 5F on the same day with the consumption receipts.
						br
						| (Please present the tracking card to the casher when paying for the purchase at B1F to 5F, who will record the consumption points to the card. The accumulation of more than one cash register receipts is not allowed. Customers who consume at merchants in the 1F and 2F should come to the information counter at B1F or the VIP Room at 3F with consumption receipt customer stub, merchant’s shopping receipts and sales slip and other documents for opening the card or accumulating points.)
					td(colspan="2")
						| Please bring the following documents to the VIP Room on 3F for registry of membership card when the application requirement is achieved:
						br
						| 1. Shopping receipt of the day/or consumption tracking card / or membership card;
						br
						| 2. Valid documents (e.g.: ID card, passport, etc.);
						br
						| 3. A cost of RMB 10 for the application of the membership card should be paid.
				tr(class="NoBorder")
					td(class="Title") Points Rules
					td Qualification point:RMB 1 = 1 point Gift point: RMB 100 = 1 point
					td Qualification point:RMB 1 = 1 point Gift point: RMB 100 = 1 point
					td Qualification point:RMB 1 = 1 point Gift point: RMB 100 = 1 point
				tr
					td
					td(colspan="3") Consumption at B2F food court/ restaurants/ cafe and some counters should not be taken into the calculation of bonus points.
				tr
					td(class="Title") Card Renewing (upgrading & downgrading)
					td
					td
						| Card renewing: the silver card membership will be renewed once the qualification points are accumulated to 10,000 during the validity period.
						br
						| The qualification points will be reset to zero when silver card renewed.
						br
						| Upgrading: please come to the VIP Room at 3F to upgrade to gold card membership once the qualification points have been accumulated to 100,000 in the validity period. 10,000 points will be deducted from the qualification point balance when upgrading, and the remaining points will be reserved for the accumulation. Downgrading: the silver card membership will expire if the qualification points have not yet accumulated to 10,000 during the term of validity, and the qualification points will be reset to zero. Please go to the VIP Room at 3F to redeem the tracking card and re-accumulate the points.
					td
						| Card renewing: the gold card membership will be renewed once the qualification points are accumulated to 100,000 during the validity period.
						br
						| The qualification points will be reset to zero when the card is renewed.
						br
						| Downgrading: the gold card membership will expire if the qualification points have not yet accumulated to 100,000 during the term of validity, and the qualification points will be reset to zero.
						br
						| Please go to the VIP Room at 3F to redeem the silver card and re-accumulate the points.
				tr
					td(class="Title") Period of Validity
					td Qualification points: the points shall be valid in thirty (30) years from the date of issuing the card; the term of validity on the card shall prevail.Gift points: the points shall be valid in one (1) year from the date the consumption that meets the point requirement by the cardholder; the term of validity on the card surface shall prevail.
					td(colspan="2") Qualification points: the points shall be valid in one (1) year since the date the membership comes into effect; the term of validity on the card surface shall prevail. Gift points: the points shall be valid in one (1) year from the date the consumption that meets the point requirement by the member; the term of validity on the card surface shall prevail.
				tr
					td(class="Title") Card Replacement
					td(colspan="3") Please carry the valid identification card and the old card (if any) to the VIP Room at 3F for card replacement.
			h3 Warm Tips
			p 1. To safeguard the legitimate interests of the tracking card holder and member of Réel Department Store, please initiatively present the tracking card to the casher when paying for the purchase on B1F to 5F, who will help to record the consumption points in the card. The accumulation of more than one cash register receipts is not allowed.
			p 2. Customers who consume at shops/counters in the 1F and 2F of Réel Department Store should come to the information counter at B1F or the VIP Room at 3F with consumption receipt customer stub, merchant’s shopping receipts (if any) and sales slip and tracking card/membership card (if any) for opening the card or accumulating points.
			p 3. Please present the tracking card or membership card initiatively when consuming in Réel Department Store. The bonus points of per purchase shall only be valid when are accumulated on the same day of the consumption, and will not be post registered in the next day nor be allowed to participate in the cumulative point program again.
			p 4. In case of refunding or exchanging the goods consumed with tracking card or membership card, the cash register receipt, invoice and credit card sales slip should be present together with the tracking card or membership card. Once the refund or exchange is confirmed, the gift and qualification points in the tracking or membership card will be revised correspondingly; and the redeemed gift should also be returned to the Department Store due to the change of points; if the gift has been destroyed or lost, it should be compensated according to the cost.
			p 5. Tracking or membership card holders should not enjoy the discount at special sale and at the designated shops / counters. (In some cases the points would not be accumulated; please contact the information counter at B1F or VIP Room at 3F for more information.)
			p 6. The bonus point of total consumption amount should be counted with the actual amount paid after discount (i.e. the received amount of the cash register receipt) and the following items are not included in the total consumption amount: (1) The consumption by vouchers, coupons, delivery coupons or other discount coupons; (2) The consumption for designated goods purchased with special price for members (specific information for each promotion shall prevail); (3) The personal income tax payable for winning/exchanging gifts.
			p 7. Each customer can only hold one tracking card, which will not be reissued when lost and should not be used together with other shopping record cards; each member may only hold one membership card.
			p 8.Réel Department Store prepares abundant gift for the regularly launching of points-for-gifts activities; if the value of the gift exceeds RMB 800 or more, then the personal income tax equivalent to 20% of the value of the gift should be paid according to law.
			p 9.Tracking or membership card holder shall personally go to the designated counters to manage the exchange of gifts with valid documents (ID card, passport, etc.). Please pay attention to the bulletin, advertisement or other means of publicity in Réel Shanghai Department Store for details of specific activities. Please bring your own personal membership card and valid documents (ID card, passport, etc.) to exchange gifts with points; otherwise the exchange shall not be accepted.
			p 10.Please notify if the card is lost or damaged accidentally and cannot be used, and hold valid documents to the VIP Room (3F of Réel Department Store) for card reissuing procedures. Réel Department Store will list the copy of remaining points and relevant information of the card, which will be signed and held by the two sides. The replacement of a new card will cost the cardholder RMB 10 for the handling charge, and the remaining points in the original card will be returned according to the point condition of the day of card replacement.
			p For more information, please download Member’s Handbook; or call the customer service hotline +86 02122309788 or 4001559788 during business hours at the Department Store. We will be wholeheartedly at your service.
			p Service hours of customer service line: 10:00 - 22:00



