extends services

block mainContent
	div(class="Services")
		div(class="Content MemberShipBook")
			img(src="/images/Services/Service_Rule_01.png")
			h3 第一章 使用细则
			p 本细则是芮欧百货（上海）有限公司（是一家在中国境内合法注册成立的企业法人实体，同时也是一座位于上海市的知名百货商场，以下根据文意简称为“本公司” 或“芮欧百货”）对于购物记录卡及会员卡有关事务之管理依据，也是持卡人与本公司关于行使或受理购物记录卡及会员卡的重要前提。
			h4 第一条 购物记录卡
			p 1、消费者于本公司指定楼层/商铺/专柜消费后，即可凭当日小票于芮欧百货内指定地点申请购物记录卡一张。购物记录卡有效期限为30年，自发卡当日起算。如在有效期内未能累积达到申办会员卡之标准（见本细则第五条），则该购物记录卡将会期满自动失效。
			p 2、购物记录卡仅可作为消费累计卡使用，非会员卡，也不能取代会员卡，持卡人不能据以享受任何芮欧百货所提供的会员卡优惠和/或礼遇。消费者本人持购物记录卡在芮欧百货消费并且累积指定消费满本公司规定点数即具备申请会员卡的资格
			p 3、购物记录卡不得转让。购物记录卡持卡人本人方可具有申办会员卡的资格。
			p 4、购物记录卡一经遗失，恕不补发，且不得与其他购物记录卡合并使用。本公司有权拒绝受理任何已毁损或无法根据常规方式识别内载信息的卡票；持卡人应妥善保管并且审慎使用，切勿折叠或靠近磁性物体。卡票毁损补发新卡需支付人民币10元工本费。
			h4 第二条 会员
			p 1、会员是指在本细则及本公司公告的基础上，申请使用与持有芮欧百货会员卡，并且得到本公司最终认可的消费者。
			p 2、会员有权享受本公司提供的各种会员优惠待遇（依最新公告为准），并且有义务遵守本公司相关会员制度的规定。会员领取会员卡后若不同意本细则及本公司有关规定的，应按照本细则第八条第1款的规定办理相关退会手续。
			h4 第三条 会员卡的保管及所属权 
			p 1、会员卡分为“银卡”与“金钻卡”二类，每位会员仅可持有一张会员卡；会员卡应妥善保管及使用，不可折叠或靠近磁性物体。
			p 2、会员卡的所有权属于本公司，会员不得出借或私下转让会员卡，也不得将会员卡抵押或用于其他金融目的。
			p 3、会员卡仅供于芮欧百货消费时享受折扣及集点等会员优惠待遇之用，不具记账或任何其他用途。

			h4 第四条 购物记录卡/会员卡的积点规则 
			p
				| 1、资格积分：
				br
				| 凡消费者在芮欧百货消费满1元，即可累积1点。餐饮类商铺、部分专柜和地下二层美食广场的消费金额恕不列入积分计算。
			p
				| 2、礼品积分：
				br
				| 凡消费者在芮欧百货消费满100元，即可累积1点。餐饮类商铺、部分专柜和地下二层美食广场的消费金额恕不列入积分计算。
			p 3、未满前述积点所需最低消费金额的，恕不列入累计。
			p
				| 4、积分之计算方式以折扣后所支付之实际交易金额（即收银机消费小票实收金额）为准，下列项目不列入消费累计金额：
				br
				| （1）以代金券、抵用券、折价券、提货卡或其它优惠折扣券之消费金额；
				br
				| （2）以会员特惠价购买指定商品之消费金额（具体细则以每次特惠活动公告为准）；
				br
				| （3）因中奖/兑换礼品所需支付的个人所得税额。
				br
			h4 第五条 会员资格的获得及相关办理手续
			p
				| 1、符合以下标准即可申办芮欧百货会员资格：
				br
				| （1）当日/或自购物记录卡发卡当日起30年内或银卡会员在一年内累计“资格积分”满10,000点，即可申请办理或延续银卡会员资格。
				br
				| （2）当日/或自购物记录卡发卡当日起30年内或金钻卡会员在一年内累计“资格积分”满100,000点，即可申请办理或延续金钻卡会员资格。
			p
				| 2、申办会员卡时，需携带下述资料前往芮欧百货三层贵宾室办理相关手续:
				br
				| （1）本人有效证件原件（如：身份证、护照等）；及
				br
				| （2）当日收银机消费小票或发票原件/或购物记录卡/或银卡/或金钻卡。 
			p 3、申办会员卡需支付人民币10元工本费。
			h4 第六条 持购物记录卡/会员卡购物时的使用方法
			p 1、于芮欧百货内地下一层~五层商铺/专柜消费时应主动出示购物记录卡或会员卡，由本公司服务人员将该次消费点数直接记录于卡片上；不可累积计算多张收银小票；
			p 2、于芮欧百货内一层与二层商铺/专柜消费时，请持当日芮欧百货“消费小票顾客联”、商铺/专柜“购物收据”（如有）、“刷卡签购单”及购物记录卡/会员卡（如有）等凭证，至地下一层客户服务台或三层贵宾室办理开卡或卡面点数更新事宜。
			p 3、于芮欧百货消费时应主动出示购物记录卡或会员卡。每笔消费金额的积点计算限当日有效，隔日不予补办，亦不再参加累计集点活动。
			p 4、持购物记录卡或会员卡消费的商品若发生退换货的情况时，除须同时持收银机消费小票、发票及刷卡签购单 外，并应一并出示购物记录卡或会员卡。经确认退换货后，该购物记录卡或会员卡的礼品积分和资格积分也会相应修正；因点数变更所涉及的已兑换礼品需一并退还本公司，如该礼品已毁损或灭失，应照价赔偿。
			p 5、持购物记录卡或会员卡在特卖会及芮欧百货内部分特别指定场所（商铺/专柜）不能享受折扣优惠。（部分情况不参加集点，详情请垂询地下一层客户服务台或三层贵宾室）。

			h4 第七条 购物记录卡/会员卡的积分及有效期规则
			p 1、购物记录卡/会员卡的卡面上分别印有资格积分及礼品积分的点数及相应的有效期。
			p 
				| 2、购物记录卡：
				br
				| （1）资格积分有效期原则上为自发卡当日起算三十（30）年，具体以卡面上显示的有效期为准。
				br
				| （2）礼品积分有效期原则上为持卡人最后一次符合积分要求的消费之日起算的一（1）年，具体以卡面上显示的有效期为准。
			p 
				| 3.会员卡（银卡、金钻卡）：
				br
				| （1）资格积分有效期原则上为会员资格正式开始生效后的一（1）年，具体以卡面上显示的有效期为准。
				br
				| （2）礼品积分有效期原则上为会员最后一次符合积分要求的消费之日起算的一（1）年，具体以卡面上显示的有效期为准。
			p 
				| 4.当购物记录卡/会员卡的持卡资格发生变化时（包括但不限于入会、升级、续级、降级等）：
				br
				| （1）入会、升级
				br
				| 资格积分：需扣除入会资格所需点数（银卡会员扣除10,000点，金卡会员扣除100,000点），剩余积点可继续累计至下次消费集点内。
				br
				| 礼品积分：不扣除点数，有效期内点数可累计至下次消费集点内。
				br
				| （2）续级、降级
				br
				| 资格积分：清零。
				br
				| 礼品积分：不扣除点数，有效期内点数可累计至下次消费集点内。   
			p 5、不同卡号的任何积点均不可合并累计。
			h4 第八条 购物记录卡/会员卡之持卡资格的退出、退会及会员资格丧失
			p 1、购物记录卡持卡人因自身原因提出退出积点活动时，或会员因自身原因提出退会时，须向本公司提交申请，并在提交申请的同时将购物记录卡或会员卡归还本公司。退出/退会当日不可申办入会手续。
			p 2、购物记录卡持卡人或会员若违反本细则的任何规定；或有明显损害本公司信誉之行为；或出现违反倾向及使用不当行为并经本公司确认时；或本公司有合理理由主张该购物记录卡持卡人或会员已不适合持有购物记录卡或会员卡时，本公司有权在不发出任何通知的情况下取消该购物记录卡或会员卡的持卡资格并停止其卡片的使用，购物记录卡持卡人或会员应及时归还卡片并且赔偿本公司因此遭受的一切损失（若有）。
			p 3、如银卡会员在资格有效期届满当日的资格积分为零，则视为自动退会，会员卡也将自即日起作废，不再享受任何会员优惠。

			h4 第九条 购物记录卡/会员卡的有效期之终止
			p
				| 购物记录卡或会员卡的有效期在发生下列情形之一时终止：
				br
				| （1）符合本细则第八条关于购物记录卡/会员卡之持卡资格的退出、退会及会员资格丧失的规定；
				br
				| （2）持购物记录卡有效期届满时资格积分累计仍未达10,000点者。

			h4 第十条 购物记录卡/会员卡的发行、换卡及补发办理
			p 1、当资格发生变化（包括但不限于入会、升级、降级等），请持旧卡及本人有效证件于资格有效期届满日开始计算的三（3）个月内至三层贵宾室办理相关手续并换卡。
			p 2、会员卡如不慎丢失或损坏造成卡片无法使用，会员应立即主动通知芮欧百货三层贵宾室，并且须持有效证件(如：身份证、护照等)至三层楼贵宾室办理补卡手续，由本公司列出当时所剩集点及相关信息，并经双方签名确认。补领新卡时，会员需缴交人民币10元工本费，原卡内集点将视重办当日集点状况将剩余集点返还。

			h4 第十一条 购物记录卡/会员卡之礼品兑换  
			p 1、芮欧百货定期推出积分换好礼活动，精心准备丰富的礼品内容，如兑礼品之金额/实物价值超过人民币800元以上时，则需依法支付相当于礼品价值20%的个人所得税。
			p 2、兑换礼品仅限本人于现场领取，购物记录卡持卡人或会员需携带本人有效证件(如：身份证、护照等)亲至商场指定柜台办理兑换。具体活动详情敬请关注芮欧百货内告示、宣传品或其他相关方式。

			h4 第十二条 会员卡登记事项的变更
			p 1、会员在其姓名、住址、电话号码等个人信息有所变更时应及时主动通过芮欧百货客服热线+86-21-22309788通知本公司或至指定柜台进行更新，以便能够及时、准确地享受芮欧百货会员服务。
			p 2、若登记事项有变而未通知本公司者，则本公司不承担会员由此可能遭受的任何不利后果。

			h4 第十三条 购物记录卡持卡人或会员资格的重新确认
			p 本公司根据实际需要，有权根据本细则对购物记录卡持卡人或会员资格进行定期或不定期的重新确认，持卡人有义务配合提交本公司所需的一切资料。

			h4 第十四条 会员信息的利用
			p
				| 会员在入会时应同意下列事项：
				br
				| （1）向本公司提供正确的会员信息。
				br
				| （2）本公司有权向会员寄送各种宣传印刷物品。
			h3 第二章 购物记录卡的使用说明
			h4 第十五条 购物记录卡的优惠权益
			p 1、本卡仅可作为消费累计卡使用，非会员卡，持卡人无法使用芮欧百货的会员卡礼遇及优惠，直至消费累计资格积分满10,000点并办理银卡(升级同时需扣除资格积分10,000点)。
			p 2、首次办理购物记录卡可获精美礼品一份。
			p 3、停车优惠：凡于芮欧百货内（但不包括地下二层美食广场和餐饮类商铺/专柜的消费，详情请垂询地下一层客户服务台或三层贵宾室）当日累计消费满人民币500元或以上可免费停车1小时，满人民币1,000元可免费停车2小时；满人民币2,000元可免费停车3小时，每车每次最高可享受3小时免费停车优惠，超出时间按照标准15元/小时收取停车费。
			h3 第三章 银卡的使用说明
			h4 第十六条 银卡会员的优惠权益
			p 1、特享部分专柜正价商品9.5折优惠（特卖会及部分专柜商品除外，详情请垂询地下一层客户服务台或三层贵宾室）。
			p 2、专享不定期优质来店礼。
			p 3、独享专属生日礼赞。
			p 4、优先获得本公司活动彩信、电子报、优惠手册等讯息。
			p 5、停车优惠：凡于芮欧百货内（但不包括地下二层美食广场和餐饮类商铺/专柜的消费，详情请垂询地下一层客户服务台或三层贵宾室）当日累计消费满人民币500元或以上可免费停车1小时，满人民币1,000元可免费停车2小时；满人民币2,000元可免费停车3小时，每车每次最高可享受3小时免费停车优惠，超出时间按照标准15元/小时收取停车费。

			h4 第十七条 银卡资格的延续或变更
			p
				| 银卡会员于会员资格有效期届满时， 应根据以下“ 资格积分”累计点数标准，自行至三层贵宾室办理会员资格续期或变更：
				br
				| （1）达到10,000点～99,999点者，即可延续银卡会员资格，同时资格积分清零。
				br
				| （2）达到100,000点以上者，即可升级金钻卡会员资格，同时扣除资格积分100,000点。
				br
				| （3）未达10,000点者则取消会员资格，资格积分清零，并需换领购物记录卡重新积分。
			h3 第四章 金钻卡的使用说明
			h4 第十八条 金钻卡会员的优惠权益
			p 1、特享部分专柜正价商品9折优惠（特卖会及部分专柜商品除外，详情请垂询地下一层客户服务台或三层贵宾室）；
			p 2、特享联合商户折扣；（折扣商户以商场告示为主）
			p
				| 3、专享三层贵宾室尊崇服务:
				br
				| • 提供悠闲舒适的休憩空间、无线上网、阅读时尚杂志及当日报纸;
				br
				| • 提供茶水、咖啡、果汁饮料及小点。
			p 4、专享不定期优质来店礼；
			p 5、独享专属生日礼赞；
			p 6、优先获得本公司活动彩信、电子报、优惠手册等讯息。
			p 7、停车优惠：持金钻卡尊享每日免费停车2小时；凡于芮欧百货内（但不包括地下二层美食广场和餐饮类商铺/专柜的消费，详情请垂询地下一层客户服务台或三层贵宾室）当日累计消费每满人民币500元或以上可免费多停车1小时，每车每次最高可享受4小时免费停车优惠（含金钻卡会员尊享每日免费停车2小时优惠在内），超出时间按照标准15元/小时收取停车费。

			h4 第十九条 金钻卡资格的延续或变更
			p
				| 金钻卡会员于会员资格有效期届满时，应根据以下“资格积分”累计点数标准，自行至三层贵宾室办理会员资格续期或变更：
				br
				| （1）达到100,000点以上者，即可延续金钻卡资格，同时资格积分清零。
				br
				| （2）未达到100,000点则资格积分清零，并需换领银卡重新积分。
			h3 第五章 其他
			h4 第二十条 细则的变更
			p 本细则中的条款如更改、修订、改变或限制给予购物记录卡/会员卡优惠的权利, 本公司会在相关期限内以合理的方式告知或通知购物记录卡持卡人或会员，通知方式包括但不限于书面或口头形式发出通知及在芮欧百货内张贴告示。如上述通知发出之后，购物记录卡持卡人或会员仍继续使用了购物记录卡/会员卡，或虽未使用购物记录卡/会员卡但在三十（30）日内未提出退出或退会的申请，则视为同意变更事项。

			h4 第二十一条 本细则的管辖依据与争议解决
			p 1、本细则受中国法律管辖并依法解释。
			p 2、因本细则引起的或与之相关的任何争议，双方应通过友好协商解决。
			p 3、本公司对本细则保留最终解释权与修改权，一经修改将于芮欧百货张贴告示，不再另行通知购物记录卡持卡人或会员。
			br
			br
			p 有关本细则及会员卡事务，敬请与本公司三层贵宾室联系。
			p
				| 芮欧百货（上海）有限公司
				br
				| 地址：上海市静安区南京西路1601号
				br
				| 客服热线：+86-21-22309788 或4001559788
				br
				| 传真：+86-21-22309789
				br
				| 邮箱：eservice@reelshanghai.com

