extends services

block mainContent
	div(class="Services")
		div(class="Content Petition")
			img(src="/images/Services/MemberShip_01.png")
			table
				tr
					td(style="width:90px;")
					td 购物记录卡
					td 芮欧银卡
					td 芮欧金钻卡
				tr
					td 申请需求
					td 凡于芮欧百货(上海)有限公司 B1F~5F 购买 任意金额即可当日申请办理。 (此卡遗失恕不补发,不得与其他购物记录 卡合并使用。)
					td 当日/或自购物记录卡发卡日起 30 年内/或 会员在 1 年内,资格积分累积消费满/超过 集点 10,000 点,即可申请成为芮欧银卡会 员。(每人限办一张)
					td 当日/或自购物记录卡发卡日起 30 年内/或会员 在 1 年内,资格积分累积消费满/超过集点 100,000 点,即可申请成为芮欧金钻卡会员。 (每人限办一张)
				tr(class="SmallRow")
					td
					td(colspan="3") B2F 美食广场\餐厅\咖啡厅及部分专柜消费金额不列入计算
				tr
					td 申办方式
					td
						| 购物记录卡采取不记名方式,顾客当日消费 付款同时即可于 B1F~5F 芮欧百货收银柜台 申请"购物记录卡"。
						br
						| 于 1F、2F 商户消费的顾客成功申办购物记 录卡后,可至 B1F 客服台或 3F 贵宾室出示 您的卡片,以更新卡面点数。
						br
						| 购物记录卡生效后,凡于馆内各商户购物付款时请出示您的卡片,由收银人员记录您的消费点数。
					td(colspan="2")
						| 顾客消费满额请持下列凭证至 3F 贵宾室办理会员卡:
						br
						| 1.当日购物小票/或购物记录卡/或会员卡;
						br
						| 2.本人有效证件(如:身份证、护照等)。
						br
						| 3. 申办会员卡需支付人民币 10 元工本费。
				tr(class="SmallRow")
					td 积分规则
					td(colspan="3") 资格积分:1 元=1 点 礼品积分:100 元=1 点
				tr(class="SmallRow")
					td 
					td(colspan="3") B2F 美食广场\餐厅\餐饮类商户及部分专柜消费金额不列入积分计算
				tr
					td 有效期
					td 资格积分:自发卡当日起算三十(30)年内 有效,具体以卡面上显示的有效期为准。 礼品积分:持卡人最后一次符合积分要求的 消费之日起算的一(1)年内有效,具体以 卡面上显示的有效期为准。
					td(colspan="2") 资格积分:会员资格正式开始生效后的一(1)年内有效,具体以卡面上显示的有效期为准。 礼品积分:会员最后一次符合积分要求的消费之日起算的一(1)年内有效,具体以卡面上显 示的有效期为准。
				tr
					td 会员礼遇
					td
						| 1. 本卡仅可作为消费累计卡使用,非会员 卡,持卡人无法使用芮欧百货的会员卡 礼遇及优惠,直至累计消费积点满 10,000 点并办理银卡;
						br
						| 2. 首次办理购物记录卡可获精美礼品一份。 (请持卡人持已生效的购物记录卡及会员手 册至指定柜台兑换礼品)
					td
						| 1. 特享部分专柜正价商品 9.5 折优惠(特卖 会及部分专柜商品除外,详情请垂询地下一 层客户服务台或三层贵宾室)。
						br
						| 2.专享不定期优质来店礼。
						br
						| 3.独享专属生日礼赞。
						br
						| 4.优先获得本公司活动彩信、电子报、优惠 手册等讯息。
					td
						| 1.特享部分专柜正价商品 9 折优惠(特卖会及 部分专柜商品除外,详情请垂询地下一层客户 服务台或三层贵宾室);
						br
						| 2.特享联合商户折扣;(折扣商户以商场告示为 主)
						br
						| 3.专享三层贵宾室尊崇服务; *提供悠闲舒适的休憩空间、无线上网、阅读时尚杂志及当日报纸。 *提供茶水、咖啡、果汁饮料及小点。
						br
						| 4.专享不定期优质来店礼;
						br
						| 5.独享专属生日礼赞;
						br
						| 6.优先获得本公司活动彩信、电子报、优惠手册 等讯息。
				tr
					td 停车优惠
					td 凡于芮欧百货内(但不包括地下二层美食广 场和餐饮类商铺/专柜的消费,详情请垂询 地下一层客户服务台或三层贵宾室)当日累 计消费满人民币 500 元或以上可免费停车 1 小时,满人民币 1,000 元可免费停车 2 小 时;满人民币 2,000 元可免费停车 3 小时, 每车每次最高可享受 3 小时免费停车优惠, 超出时间按照标准 15 元/小时收取停车费。
					td 凡于芮欧百货内(但不包括地下二层美食广 场和餐饮类商铺/专柜的消费,详情请垂询 地下一层客户服务台或三层贵宾室)当日累 计消费满人民币 500 元或以上可免费停车 1 小时,满人民币 1,000 元可免费停车 2 小 时;满人民币 2,000 元可免费停车 3 小时, 每车每次最高可享受 3 小时免费停车优惠, 超出时间按照标准 15 元/小时收取停车费。
					td 持金钻卡尊享每日免费停车 2 小时,凡于芮欧 百货店内(B2F 美食街/餐厅/餐饮类专柜消费额 不含在停车优惠内,详情请垂询地下一层客户 服务台或三层贵宾室)当日累计消费每满人民 币 500 元或以上可免费多停车 1 小时,每车每 次最高可享受 4 小时免费停车优惠(含金钻卡 会员尊享每日免费停车 2 小时优惠在内),超 出时间按照标准 15 元/小时收取停车费。(请会员本人持卡至地下一层客户服务台或三层贵宾室兑领车券)
				tr
					td 积分换好礼
					td(colspan="3") 每消费 100 元即可获得 1 点礼品积分,芮欧百货定期推出积分换好礼活动,精心为您准备丰富的礼品内容,敬请持卡及本人有效证件亲至商 场指定柜台办理换礼。
				tr
					td
						| 续级
						br
						| (升级、降级、续级)
					td
					td
						| 升级:有效期内资格积分满 100,000 点可至 3F 贵宾室办理换卡手续,升级为金钻卡, 升级后资格积分扣除 10,000 点,剩余积分 保留继续累积。
						br
						| 续卡:有效期内资格积分满 10,000 点则可 延续金卡会员资格,续卡后资格积分清零;
						br
						| 降级:有效期内资格积分未满 10,000 点则 银卡无效,且资格积分清零,请至 3F 贵宾 室换领购物记录卡重新积分。
					td
						| 续卡:有效期内资格积分满 100,000 点,则可 延续金卡会员资格,续卡后资格积分清零;
						br
						| 降级:效期内资格积分未达 100,000 点,则金 钻卡卡无效,且资格积分清零,请至 3F 换领银 卡重新积分。
				tr(class="SmallRow")
					td 换卡
					td(colspan="3") 顾客请持本人有效证件及旧卡(如有)前往 3F 贵宾室办理换卡事宜。
			img(style="padding-top:15px;padding-bottom:15px;", src="/images/Services/MemberShip_05.png")
			p
				| 1.为了维护购物记录卡持卡人及会员的合法权益,于芮欧百货内地下一层~五层商铺/专柜消费时应主动出示购物记录卡或会员卡,由本公司服务人员将该次 消费点数直接记录于卡片上;不可累积计算多张收银小票;
				br
				| 2. 于芮欧百货消费时应主动出示购物记录卡或会员卡。每笔消费金额的积点计算限当日有效,隔日不予补办,亦不再参加累计集点活动。
				br
				| 3. 持购物记录卡或会员卡消费的商品若发生退换货的情况时,除须同时持收银机消费小票、发票及刷卡签购单 外,并应一并出示购物记录卡或会员卡。经确认退换货后,该购物记录卡或会员卡的礼品积分和资格积分也会相应修正;因点数变更所涉及的已兑换礼品需一并退还本公司,如该礼品已毁损或灭失,应照价赔偿。
				br
				| 4. 持购物记录卡或会员卡在特卖会及芮欧百货内部分特别指定场所(商铺/专柜)不能享受折扣优惠。(部分情况不参加集点,详情请垂询地下一层客户服务台或三层贵宾室)。
				br
				| 5. 消费累计金额以折扣后所支付实际交易金额(即购物小票)为计算基准,下列项目不列入消费累计金额:
				br
				| (1)以代金券、抵用券、折价券、提货卡或其它优惠折扣券之消费金额; (2)以会员特惠价购买指定商品之消费金额(具体细则以每次特惠活动公告为准); (3)因中奖/兑换礼品所需支付的个人所得税额; (4)以其他付费方式所支付的消费金额。
				br
				| 7. 顾客仅可持有一张购物记录卡,此卡遗失不补,且不得与其他购物记录卡合并使用;每位会员仅可持有一张会员卡。
				br
				| 8. 芮欧百货定期推出积分换好礼活动,精心准备丰富的礼品内容。
				br
				| 9. 兑换礼品仅限本人于现场领取,购物记录卡持卡人或会员需携带本人有效证件(如:身份证、护照等)亲至商场指定柜台办理兑换。具体活动详情敬请关注芮欧百货内告示、宣传品或其他相关方式。积分集点兑换礼品时,请同时携带您本人的会员卡及个人有效证件(如:身份证、护照等)进行兑换活动,否则不予受理。
				br
				| 10. 如不慎丢失或损坏卡片造成无法使用,持卡人应立即通知芮欧百货(上海)有限公司三层贵宾室,卡友并须持本人有效证件到三层贵宾室办理补卡手续,由芮欧百货列出当时所剩集点及相关资讯后,双方签据持有。补领新卡时,卡友需缴付人民币 10 元的工本手续费,原卡内集点将视重办当日集点状况将剩 余集点返还。
				br
				| *具体优惠信息敬请参见商场告示或宣传资料,亦可拨打客服热线+86 021 22309788 或 4001559788 咨询,我们将竭诚为您服务。 客服专线服务时间为每日早上 10 点至晚上 10 点。
