extends services

block mainContent
	div(class="Services")
		div(class="Content Membership")
			img(src="/images/Services/MembershipBenefits_01.png")
			br
			table
				tr
					td(class="TopHead" style="width:105px;")
					td(class="TopHead" style="width:200px;") Tracking Card
					td(class="TopHead" style="width:200px;") Réel Silver Card
					td(class="TopHead") Réel Gold Card
				tr
					td(class="Title") Member's Privileges
					td
						| 1.This card can only be used for accumulating consumption points; it’s not the membership card that the cardholder is not allowed to enjoy the member’s privileges and benefits until the consumption points are accumulated to 10,000 and the silver card is activated.
						br
						| 2.The activation of the tracking card for the first time will be rewarded with a nice gift.
					td
						| 1.Enjoy a 5% discount for the goods of regular price at some counters (special sale and some counter products are not included; for more information, please contact the information counter at B1F or the VIP Room on the third floor.)
						br
						| 2.Exclusively enjoy the occasional fine- quality store gift.
						br
						| 3.Exclusively enjoy the birthday tribute.
						br
						| 4.Preferential access to the MMS, newsletters, DM of the Department Store.
					td
						| 1.Enjoy a 10% discount for the goods of regular price at some counters (special sale and some counter products are not included; for more information, please contact the information counter at B1F or the VIP Room on the third floor.)
						br
						| 2.Enjoy discounts from joint merchants; (see notice in the Department Store for detailed information)
						br
						| 3.Privileged VIP Room service, Relaxed and comfortable rest space, wireless internet access, Fashion magazines and daily newspapers, Complimentary tea, coffee, juice, and snacks.
						br
						| 4.Exclusively enjoy the occasional fine- quality store gift.
						br
						| 5.Exclusively enjoy the birthday tribute.
						br
						| 6.Preferential access to the MMS, newsletters, DM of the Department Store.
				tr
					td(class="Title") Points to Gifts
					td(colspan="3")
						| A consumption of RMB100 will get 1 gift point rewarded. Réel Shanghai Department Store prepares abundant gifts for points-for-gifts activity regularly launched and welcome cardholders to the designated counters to exchange gifts with the tracking or membership card and valid documents.
						br
						| Please pay attention to notices, promotional materials or other relevant means of publicity within Réel Shanghai Department Store
				tr(class="NoBorder")
					td(class="Title") Parking Validation
					td A one free parking will be enjoyed by customers with consumptions accumulating to or over RMB 500 on the same day within Réel Shanghai Department Store (consumption at B2F Réel Kitchen should be excluded; please contact the information counter at B1F or VIP Room at 3F for the detailed information), 2-hour free parking for consumption accumulating to or over RMB 1,000, and 3-hour free parking for RMB 2,000. For each car, a maximum of 3-hour free parking could be enjoyed per time; once the parking validation period is exceeded, the parking fees should be collected with RMB15 per hour.
					td A one free parking will be enjoyed by customers with consumptions accumulating to or over RMB 500 on the same day within Réel Shanghai Department Store (consumption at B2F Réel Kitchen should be excluded; please contact the information counter at B1F or VIP Room at 3F for the detailed information), 2-hour free parking for consumption accumulating to or over RMB 1,000, and 3-hour free parking for RMB 2,000. For each car, a maximum of 3-hour free parking could be enjoyed per time; once the parking validation period is exceeded, the parking fees should be collected with RMB15 per hour.
					td
						| A 2-hour free parking will be enjoyed by holders of Gold Card. A one-hour free parking will be enjoyed by customers with consumptions accumulating to or over RMB 500 on the same day within Réel Shanghai Department Store
						br
						| (consumption at B2F Réel Kitchen should be excluded; please contact the information counter at B1F or VIP Room at 3F for the detailed information).
						br
						| For each car, a maximum of 4-hour free parking could be enjoyed per time
						br
						| (the 2-hour free parking exclusive to Gold Card holders is included); once the parking validation period is exceeded, the parking fees should be collected with RMB15 per hour.
				tr
					td
					td(colspan="3") For more details of membership benefits, please pay attention to notices or promotional materials in the Department Store or call the customer service hotline at +86 02122309788 or 4001559788. We will be wholeheartedly at your service. Service hours of customer service line: 10 a.m. to 10 p.m.








