extends services

block mainContent
	div(class="Services")
		div(class="Content MemberShipBook")
			img(src="/images/Services/Regulations_01.png")
			br
			br
			p
				| The regulations serve not only as the basis for Réel Shanghai Department Store Co., Ltd. (a corporate legal entity that is legitimately incorporated within the territory of China, and also a well-known department store in Shanghai, hereinafter referred to as "the Company" or " Réel Department Store ") to manage shopping tracking card and membership card and the related matters, but also an important prerequisite for the cardholders and the Company to exercise or accept the tracking card and membership card. Article One Shopping Tracking Card 1、With the receipt(s) of consumption at designated floor(s), shop(s) or counter(s) in Réel Department Store, consumers may, on the same day, apply for a shopping tracking card at the designated place. The 30-year validity period of the tracking card shall count from the date it is issued; however, it should automatically expire if the consumer fails to accumulate consumption bonus points to the
				br
				| 2、The tracking card can only be used for accumulating consumption bonus points; it is not the membership card, and cannot replace the membership card too. Cardholders of tracking card are not entitled to the membership card benefits and/or privileges. Consumers who consume and accumulate bonus points to the standard specified by the Company have the qualification for applying membership card.
				br
				| 3、The tracking card is non-transferable and only the tracking card holder him or herself has the qualification for applying for membership card.
				br
				| 4、The tracking card will not be reissued once it is lost and cannot be used together with other shopping record cards. The Company reserves the right to reject any damaged card or coupon or the card or coupon of which information contained cannot be identified in the conventional manner; cardholder should properly keep and use the card, without folding or putting it near magnetic object. The replacement of damaged card will cost RMB 10 for production.
			p
				| Article Two Member
				br
				| 1、A Member refers to the consumer who applies for and holds the membership card of Réel Department Store on the basis of the regulation and the Company’s announcement, and gets final approval from the Company.
				br
				| 2、Members have the right to enjoy a variety of membership benefits the Company provides (the latest announcements shall prevail), and the obligation to comply with the relevant requirements for members of the Company. If members do not agree to the regulation and relevant provisions of the Compa- ny after getting the membership card, he or she shall go through the formalities of withdrawing the membership according to paragraph 1 Article Eight of this Regulation.
			p
				| Article Three The Keeping and Ownership of Membership Card
				br
				| 1、 The membership cards fall into the two categories of "Silver Card" and "Gold Card", and each member may only hold one membership card; the membership card should be properly kept and used, without folding or putting it near magnetic object.
				br
				| 2、 The ownership of the membership card belongs to the Company that the member shall not lend or transfer the membership cards privately or pledge or use for other financial purposes.
				br
				| 3、 The membership card is used for enjoying membership benefits like discount and bonus points accumulation when consuming in Réel Department Store. The membership card does not have the function of accounting or any other purpose.
			p
				| 1、Qualification Bonus Point: Any consumption at Réel Department Store over RMB 1 will accumulate one bonus point in thetracking/membership card. However, consumption at restaurants, some counters and Réel Kitchen on B2F should not be taken into the calculation of bonus points.
				br
				| 2、Gift Bonus Point:Any consumption at Réel Department Store over RMB 100 will accumulate one bonus point in the tracking/membership card. However, consumption at restaurants, some counters and Réel Kitchen on B2F should not be taken into the calculation of bonus points.
				br
				| 3、The consumption that fails to meet the above requirements for minimum point accumulating should not be taken into the count.
				br
				| 4. The bonus point of total consumption amount should be counted with the actual amount paid after discount (i.e. the received amount of the cash register receipt) and the following items are not included in the total consumption amount: (1)the sum of consumption by vouchers, coupons, delivery coupons or other discount coupons; (2)the sum of consumption for designated goods purchased with special price for members (specific information for each promotion shall prevail); and (3) the personal income tax payable for winning / exchanging gifts
			p
				| Article Five Acquisition of Membership and Related Procedures
				br
				| 1、 Acquisition of Membership:
				br
				| (1)Consumers may apply for the Silver Card on the same day or within 30 years from the date of issuing the tracking card or in one year of the membership period once the qualification points are accumulated to or over 10,000.
				br
				| (2)Consumers may apply for or renew the Gold Card on the same day or within 30 years from the date of issuing the tracking card or in one year of the membership period once the qualification points are accumulated to or over 100,000.
				br
				| 2、Please bring the following documents to the VIP Room on 3F for the application and registry of membership card:
				br
				| (1) Original valid documents (e.g.: ID card, passport, etc.); and
				br
				| (2) Shopping receipt of the day / or consumption tracking card / or silver card/or gold card 3、A cost of RMB 10 for the application of the membership card should be paid.
			p
				| Article SixUsage of Tracking/Membership Card in Consumption
				br
				| 1、 Please initiatively present the tracking card or membership card to the casher when paying for the purchase on B1F to 5F in Réel Department Store , who will help to record the consumption points in the card. The accumulation of more than one cash register receipts is not allowed.
				br
				| 2、 Customers who consume at shops/counters in the 1F and 2F of Réel Shanghai Department Store should come to the information counter at B1F or the VIP Room at 3F with consumption receipt customer stub, merchant’s shopping receipts (if any) and sales slip and tracking card/membership card (if any) for opening the card or accumulating points.
				br
				| 3、 Please present the tracking card or membership card initiatively when consuming in Réel Department Store. The bonus points of per purchase shall only be valid when are accumulated on the same day of the consumption, and will not be post registered in the next day nor be allowed to participate in
				br
				| 4、 In case of refunding or exchanging the goods consumed with tracking card or membership card, the cash register receipt, invoice and credit card sales slip should be present together with the tracking card or membership card. Once the refund or exchange is confirmed, the gift and qualification points in the tracking or membership card will be revised correspondingly; and the redeemed gift should also be returned to the Department Store due to the change of points; if the gift has been destroyed or lost, it should be compensated according to the cost.
				br
				| 5、 Tracking or membership card holders should not enjoy the discount at special sale and at the designated shops / counters. (In some cases the points would not be accumulated; please contact the information counter at B1F or VIP Room at 3F for more information.)
			p
				| Article Seven Bonus Point and Validity Period of Tracking /Membership Card
				br
				| 1、The qualification and gift points and corresponding validity periods will be printed on the surface of the tracking/membership card.
				br
				| 2、Tracking Card:
				br
				| (1) The validity period of qualification points in principle shall be thirty (30) years from the date of issuing the card; the term of validity on the card surface shall prevail.
				br
				| (2)The validity period of gift points in principle shall be one (1) year from the date the last consumption that meets the point requirement by the card- holder; the term of validity on the card surface shall prevail.
				br
				| 3. Membership Card (Silver/Gold Card)
				br
				| (1) The validity period of qualification points in principle shall be one (1) year from the date the membership takes effect; the term of validity on the card surface shall prevail.
				br
				| (2)The validity period of gift points in principle shall be one (1) year from the date the last consumption that meets the point requirement by the member; the term of validity on the card surface shall prevail.
				br
				| 4. When changes occur to the qualification of holding tracking/membership card (including but not limited to membership, upgrading, renewing, and downgrading):
				br
				| (1) Membership, upgrading Qualification bonus points: the points for membership shall be deducted (for silver card membership, deducting 10,000 points, and 100,000 points for gold card membership), and the remaining points could be reserved to the next accumulation of points.
				br
				| Gift bonus points: the gift point will not be deducted and could be reserved to the next accumulation of points within the validity period.
				br
				| (2)Renewing, downgrading Qualification bonus points: zero clearing Gift bonus points: the gift point will not be deducted and could be reserved to the next accumulation of points within the validity period.
				br
				| 5、Points of different cards shall never be accumulated together.
			p
				| Article Eight Termination, Withdrawal of Qualification of Holding Tracking/Membership Card and Loss of Membership
				br
				| 1、When holders of tracking card or members propose to withdraw for their own reasons, an application should be submitted to the Company with the return of tracking/membership card. The membership procedure shall not be applied on the day of withdrawal.
				br
				| 2、The Company has the right to cancel the qualification of holding the tracking/membership card without issuing any notice and stop the use of the card if holder of the tracking card of the member violates any of the provisions of this Regulation, or significantly damages the reputation of the Compa- ny, or tends to breach the use of the card or misconducts that is confirmed by the Company; or the Company has reasonable grounds to advocate that the holder or the member is not suitable for holding the tracking/membership card, and the cardholder or member should return the card to the Company timely and indemnify the Company for all losses thus caused (if any).
				br
				| 3、If the membership point of a Silver Card is zero on the date of expiry of the validity period, it should be deemed as automatic withdrawal, and the membership card becomes null and void from this date. The membership benefits should no longer be enjoyed.
			p
				| Article Nine Expiry of the Validity Period of Tracking/Membership Card
				br
				| The validity period of the tracking/membership card shall expire when one of the following situations occurs:
				br
				| (1)the provisions of terminating, withdrawing, and losing the qualification of holding the tracking card or membership car stipulated in Article Eight of this Regulation are met; and
				br
				| (2)The qualification bonus points fail to reach 10,000 when the validity period of the tracking card expires.
			p
				| Article Ten Issuing, Replacing and Reissuing of Tracking/Membership Card
				br
				| 1、 When changes occur to the qualification (including but not limited to membership, upgrading, and downgrading), please carry the original card and valid documents and go to the VIP Room on the third floor within three (3) months since the date of the expiry of validity term for related procedures and card renewing.
				br
				| 2、 Members should notify the VIP Room at 3F of Réel Shanghai Department Store timely if the card is lost or damaged accidentally and cannot be used, and hold valid documents (ID card, passport, etc.) to the VIP Room on the third floor for card reissuing. The Company will list the copy of remain- ing points and relevant information of the card, which will be signed and held by the two sides. The replacement of a new card will cost the member RMB 10 for the handling charge, and the remaining points in the original card will be returned according to the point condition of the day of card replacement.
			p
				| Article Eleven Gift Exchange of Tracking/Membership Card
				br
				| 1、Réel Shanghai Department Store prepares abundant gift for the regularly launching of points-for-gifts activities; if the value of the gift exceeds RMB 800 or more, then the personal income tax equivalent to 20% of the value of the gift should be paid according to law.
				br
				| 2、Tracking or membership card holder shall personally go to the designated counters to manage the exchange of gifts with valid documents (ID card, passport, etc.). Please pay attention to the bulletin, advertisement or other means of publicity in Réel Shanghai Department Store for details of specific activities.
			p
				| Article Twelve Changes of Membership Registry Information
				br
				| 1、 When changes occur to the personal information like member’s name, address, or telephone number, please timely notify the Company through the customer service hotline +86-21-22309788 or go to the designated counter to update the information so that Réel Shanghai Department Store’s mem- bership services will be offered timely and accurately.
				br
				| 2、 If the member fails to inform the Company changes of the registry information, then the Company shall not bear any negative consequences thus caused to the member.
			p
				| Article Thirteen Reaffirmation of Tracking/Membership Card Qualification
				br
				| The Company has the right to reaffirm the tracking/membership card qualification regularly or irregularly according to the actual needs under this Regulation, and the cardholder has the obligation to cooperate with the Company to submit all the necessary information.
			p
				| Article Fourteen Use of Membership Information
				br
				| Member shall agree to the following items when applying for membership: (1)Provide correct membership information to the Company; (2)The Compa- ny has the right to send printed publicity materials to members.

			h3 Instructions for Using Tracking Card
			p
				| Article Fifteen Tracking Card Benefits
				br
				| 1.This card can only be used for accumulating consumption bonus points; it’s not the membership card that the cardholder is not allowed to enjoy the member’s privileges and benefits until the consumption points are accumulated to 10,000 and the silver card is activated (10,000 qualification points will be deducted when upgrading in the same time).
				br
				| 2.The activation of the tracking card for the first time will be rewarded with a nice gift.
				br
				| 3.Parking Validation: A one-hour free parking will be enjoyed by customers with consumptions accumulating to or over RMB 500 on the same day within Réel Shanghai Department Store (consumption at B2F Réel Kitchen should be excluded; please contact the information counter at B1F or VIP Room at 3F for the detailed information), 2-hour free parking for consumption accumulating to or over RMB 1,000, and 3-hour free parking for RMB 2,000. For each car, a maximum of 3-hour free parking could be enjoyed per time; once the parking validation period is exceeded, the parking fees should be collected with RMB15 per hour.
			h3 Instructions for Using Silver Card
			p
				| Article Sixteen Silver Card Membership Benefits
				br
				| 1.Enjoy a 5% discount for the goods of regular price at some counters (special sale and some counter products are not included; for more information, please contact the information counter at B1F or the VIP Room on the third floor.)
				br
				| 2.Exclusively enjoy the occasional fine-quality store gift.
				br
				| 3. Exclusivelyenjoythebirthdaytribute.
				br
				| 4.Enjoy the preferential access to the MMS, newsletters, DM of the Department Store.
				br
				| 5.Parking validation: A one-hour free parking will be enjoyed by customers with consumptions accumulating to orover RMB 500 on the same day within Réel Shanghai Department Store (consumption at B2F Réel Kitchen should be excluded; please contact the information counter at B1F or VIP Room at 3F for the detailed information), 2-hour free parking for consumption accumulating to or over RMB 1,000, and 3-hour free parking for RMB 2,000. For each car, a maximum of 3-hour free parking could be enjoyed per time; once the parking validation period is exceeded, the parking fees should be collect- ed with RMB15 per hour.
			p
				| Article Seventeen Renewal or Change of Silver Card Qualification
				br
				| Silver Card members should upon the expiry of the membership go to the VIP Room on the third floor for membership renewal or change according to the following criteria of accumulating "Qualification Points":
				br
				| (1)If the qualification points are between 10,000 and 99,999, the Silver Card membership will be renewed and the qualification points are reset to zero. (2)If the qualification points surpass 100,000, it will be upgraded to Gold Card membership and 100,000 points be deducted.
				br
				| (3)If the qualification points are lower than 10,000, the membership will be canceled and the qualification points be reset to zero. A tracking card will be reissued for restarting the accumulation of bonus points.
			h3 Instructions for Using Gold Card
			p
				| Article Eighteen Gold Card Membership Benefits
				br
				| 1.Enjoy a 10% discount for the goods of regular price at some counters (special sale and some counter products are not included; for more information, please contact the information counter at B1F or the VIP Room on the third floor.)
				br
				| 2.Enjoy discounts from co-branded merchants; (see notice in the Department Store for detailed information)
				br
				| 3.Privileged VIP Room service
				br
				| ・Relaxed and comfortable rest space, wireless internet access, free reading of fashion magazines and daily newspaper
				br
				| ・Complimentary tea, coffee, juice, and snacks
				br
				| 4.Exclusively enjoy the occasional fine-quality store gift.
				br
				| 5. Exclusivelyenjoythebirthdaytribute
				br
				| 6.Preferential access to the MMS, newsletters, DM of the Department Store. 7. Parking Validation: A 2-hour free parking will be enjoyed by holders of Gold Card. A one-hour free parking will be enjoyed by customers with consumptions accumulating to or over RMB 500 on the same day within Réel Shanghai Department Store (consumption at B2F Réel Kitchen should be excluded; please contact the information counter at B1F or VIP Room at 3F for the detailed information). For each car, a maximum of 4-hour free parking could be enjoyed per time (the 2-hour free parking exclusive to Gold Card holders is included); once the parking validation period is exceeded, the parking fees should be collected with RMB15 per hour.
			p
				| Article Nineteen Renewal or Change of Gold Card Membership
				br
				| Gold Card members should upon the expiry of the membership go to the VIP Room on the third floor for membership renewal or change according to the following criteria of accumulating "Qualification Points":
				br
				| (1)If the qualification points surpass 100,000, the Gold Card membership will be renewed and the qualification points are reset to zero.
				br
				| (2)If the qualification points are lower than 100,000, the qualification points will be reset to zero and a Silver Card should be reissued for restarting the accumulation of bonus points.
			h3 Others
			p
				| Article Twenty Change of the Regulation
				br
				| If the provisions in this Regulation alter, amend, change or limit the preferential rights of tracking/membership card, the Company will inform or notify cardholders at the relevant period in a reasonable manner, including but not limited to written or oral notice and bulletins in Réel Shanghai Department Store. If holder of tracking card or member continues to use the tracking/membership card, or, does not make application for withdrawal within thirty (30) days although the card has not yet been used after the above notice being made, it is deemed as consent to the changes.
			p
				| Article Twenty-one Jurisdiction Basis of this Regulation and Resolution of Disputes
				br
				| 1、This Regulation shall be governed by Chinese laws and interpreted according to law.
				br
				| 2、Any disputes arising out of or related to this Regulation should be resolved through the two parties’ friendly consultation.
				br
				| 3、The Company reserves the final interpretation of and the right to modify the Regulation. Once amended, it will be expressly noticed in Réel Shanghai Department Store, without any further notice to holders of tracking card or members.
			p
				| Please contact the VIP Room on the third floor for more information of this Regulation and membership card matters. Réel Department Store Address: No. 1601, Nanjing West Road, Jing’an District, Shanghai Customer Service Hotline: +86-21-22309788 or 4001559788
				br
				| Fax: +86-21-22309789 Email: eservice@reelshanghai.com

