extends services

block mainContent
	div(class="Services")
		div(class="Content Petition")
			img(src="/images/Services/MembershipTitle_#{Language}.png")
			br
			br
			- if(Language == "Ch")
				p The Réel VIP,不能错过的会员专属礼遇
				p
					| 消费积分
					br
					| 积分兑礼
					br
					| 部分专柜正价商品折扣优惠
					br
					| 联合商户折扣
					br
					| 芮欧贵宾室尊崇服务
					br
					| 来店惊喜礼
					br
					| 生日礼赞
					br
					| 会员活动
					br
					| 停车礼遇
				p
					br
					| 通过以下方式、即可成为Réel VIP
					br
					| 凡于芮欧百货指定商铺消费，当日即可开启芮欧尊贵礼遇的第一步。
					br
					| 消费者于当日/或自购物记录卡发卡当日起30年内消费累计满RMB 10,000，即可升级为银卡会员。
					br
					| 消费者于当日/或自购物记录卡发卡当日起30年内消费累计满RMB 100,000，即可升级为金钻卡会员。
				p
					br
					| 加入芮欧VIP, 朝向金钻卡会员级别迈进，专享时尚乐活的贴心礼遇!
					br
					| 具体会员专属礼遇讯息，敬请关注商场相关宣传资料、官方微博、官方微信。
					br
					| 您亦可拨打客服热线+86 21 2230 9788 或400 155 9788咨询，我们将竭诚为您服务。
			- else
				p REEL VIP PRIVILEGES THAT CANNOT BE MISSED
				p
					| Membership credit with purchase
					br
					| Gift redemption
					br
					| Discount at participating store (non-promotional items)
					br
					| Exclusive special offers with collaborating partners
					br
					| Exclusive access to VIP lounge
					br
					| Surprise gift
					br
					| Birthday gift
					br
					| Invitation to exclusive events
					br
					| Free Parking
				p
					br
					| TO BECOME ONE OF THE PREVILIEGED FEW:
					br
					| Start your journey with us with any purchase at Reel Department Store
					br
					| Become Silver Card member with  purchase of RMB 10,00 (on same day/ accumulated within 30 years)
					br
					| Become Gold Card member with  purchase of RMB 10,00 (on same day/ accumulated within 30 years)
				p
					br
					| BECOME A GOLD CARD MEMBER AND ENJOY AMAZING RANGE OF EXCLUSIVE PREVILEGES WITH REEL TODAY!
					br
					| For upcoming events & happenings, follow us via our official Sina Weibo and/or WeChat accounts.
					br
					| Our customer service team welcomes your enquiry at +86 21 2230 9788 or 400 155 9788
