extends services

block mainContent
	div(class="Services")
		div(class="Content Booking")
			img(src="/images/Services/Booking_Title.png")
			br
			br
			p 本公司客服人员可代为会员预订商场内各餐厅用餐座位(B2F Réel Kitchen美食广场除外),如需任何查询,请联系客服热线021-22309788 或4001559788,我们将竭诚为您服务。