extends services

block mainContent
	div(class="Services")
		div(class="Content Petition")
			img(src="/images/Services/MemberShip_01.png")
			table
				tr
					td
					td 购物记录卡
					td会员 银卡
					td 会员 金卡
				tr
					td 申请需求
					td 
						| 凡于上海芮欧B1-L5消费
						br
						| 即可获发一张购物记录卡
					td
						| 一年内会员积分满10,000点
						br
						| 即可成为银卡会员
					td
						| 一年内会员积分满100,000点
						br
						| 即可成为金卡会员.
				tr
					td 有效期
					td ----
					td 1年
					td 1年
				tr
					td 续卡
					td ----
					td 有效期内达满会员积分10,000点
					td 有效期内达满会员积分100,000点
			p 购物记录卡非会员卡, 持卡无会员礼遇. 若持记录卡至服务台登记基本资料即享会员积分200点
			img(style="padding-top:15px;padding-bottom:15px;", src="/images/Services/MemberShip_02.png")
			p
				table
					tr
						td 1元1点
						td 消费结帐时示出芮欧卡进行积分, 每消费1元可获1点积分(B2和部分专柜除外)
					tr
						td 积分换好礼
						td 礼品积分可兑换多重好礼
					tr
						td 活动信息
						td 会员可不定期先经过宣传刊物, 网路, 简讯获知精彩活动预告
					tr
						td 会员礼遇
						td 停车优惠, 生日礼品, 包装服务, 专属活动, 不定期回门好礼
			img(style="padding-top:15px;padding-bottom:15px;", src="/images/Services/MemberShip_03.png")
			p
				| 办理 ：符合申领条件的顾客可凭收银小票或累计满额之购物记录卡至办卡处办理会员卡。为保障会员权益，提供给会员更周全的服务，申请时需出示本人身份证件（外籍人士请提供护照），并完整填写(会员卡申请表)。未携带本人有效证件恕不接受会员卡申办。
				br
				| 续期 ：满足续期条件的会员卡将自动续期；
				br
				| 升级 ：满足升级条件的购物记录卡及会员卡，需持有效身份证件原件至3楼 贵宾室处办理升级；
				br
				| 作废 ：不满足续期条件的购物记录卡，有效期满后所有记录卡功能停用，原卡自动作废；
				br
				| 降级 ：不满足续期条件的会员卡，有效期满后自动降级，原会员卡功能停用，需持原卡至3楼 贵宾室处更换卡片。
				br
				br
				| 如不慎丢失或损坏卡片造成无法使用，持卡人应立即通知芮欧百货（上海）有限公司3楼 贵宾室，由芮欧百货列出当时所剩积分及储值金额后，双方签据持有，卡友并持有效证件到3楼 贵宾室办理补卡手续。补领新卡时，卡友需缴付10元的手续费，原卡内积分将视重办当日积分状况将剩余积分返还。
			img(style="padding-top:15px;padding-bottom:15px;", src="/images/Services/MemberShip_04.png")
			p 芮欧百货将不定期举办会员专属的各类优惠活动，敬请关注商场相关宣传资料或芮欧百货官方微博：weibo.com/reelshanghai，亦可拨打客服热线+86 021 22309788 或4001559788咨询，我们将竭诚为您服务。  
			p 客服专线服务时间为每日早上10点至晚上10点。
			p *芮欧百货会员活动在本会员制度的基础上开展，以商场现场活动公告或明示为准。

			img(style="padding-top:15px;padding-bottom:15px;", src="/images/Services/MemberShip_05.png")
			p
				| 1.为了维护卡友的合法权益，请在全馆专柜消费结账时主动出示卡以累计积分(B2F小吃\餐厅\咖啡厅及部分专柜消费金额不列入计算)。若购物时未出示卡，则该笔消费恕不能事后补办打折优惠或进行累计积分处理。
				br
				| 2.消费累计金额以折扣后所支付实际交易金额（即购物小票）为计算基准，下列项目不列入消费累计金额：
				br
				| （1）以抵用券、折价券、提货卡或其它优惠折扣券之消费金额；
				br
				| （2）购买指定项目之付费会员费用。
				br
				| 3.卡友持购物记录卡/会员卡消费的商品若发生退换货的情况时，除须持收银小票、发票及刷卡签购单外，须同时出示购物记录卡/会员卡，卡友名下的兑换积分和资格积分也会相应地被同时调整。
				br
				| 4.积分兑换礼品时，请携带您本人的会员卡及身份证，否则不予受理。 
				br
				br
				| 如有何疑问，请拨打客服热线 +86 021 22309788 咨询。
			img(style="padding-top:15px;margin-bottom:-25px;", src="/images/Services/MemberShip_06.png")
			table(class="ServiceTable")
				tr
					th B1F客戶服务台
					th 3F 贵宾室
					th 贴心配套服务
				tr
					td
						| 购物及活动咨询
						br
						| 换开发票
						br
						| 停车折抵兑换
						br
						| 失物协寻
						br
						| 拾获物联络处理
						br
						| 雨伞租借
						br
						| 婴儿车租借
						br
						| 轮椅租借
						br
						| 寻人播音
						br
						| 简易式急救药箱
						br
						| 针线包借用
						br
						| 手机充电器借用
						br
						| 顾客意见处理
					td 
						| 申办会员卡
						br
						| 会员卡遗失/补发服务
						br
						| 会员地址变更
						br
						| 购物及活动咨询
						br
						| 停车折抵兑换
						br
						| 礼品包装
						br
						| 无线上网服务
						br
						| 寻人播音
						br
						| 会员大衣寄存
						br
						| 手机充电器借用
						br
						| 传真服务
						br
						| 影印服务
						br
						| 顾客意见处理
					td
						| 寄物柜寄存服务 : B2F
						br
						| 育婴室 : 3F
						br
						| 修鞋室 : B1F
						br
						| 自动提款机 : B2F


						br
						| 
						br
						| 携货服务 :
						br
						| 我们为顾客于本店购买的商品提供商品
						br
						| 携送服务到附近的停车场或出租车站，
						br
						| 此项服务会根据顾客需求而需要等候。
						br
						| 详情请洽B1F 客户服务台，我们将竭诚
						br
						| 为您服务。
