extends services

block mainContent
	div(class="Services")
		div(class="Content InStoreService")
			img(src="/images/Services/InStoreService_01.png")
			br
			table
				tr
					td(class="TopHead" style="width:105px;")
					td(class="TopHead" style="width:225px;") B1F Information CenterCard
					td(class="TopHead" style="width:225px;") 3F VIP Room
					td(class="TopHead") Intimate Services
				tr
					td(class="Title") Member's Privileges
					td
						| Shopping & Event Guide
						br
						| Invoicing Parking Validation Lost & Foun
						br
						| Umbrella Rental
						br
						| Stroller Rental
						br
						| Wheelchair Rental
						br
						| Paging Service
						br
						| Portable First-aid Kit
						br
						| Sewing Kit Borrowing
						br
						| Mobile Phone Charger
						br
						| Borrowin
						br
						| Customer Complaints
					td
						| Membership Application
						br
						| Membership Card
						br
						| Lost/Reissuing Service
						br
						| Member’s Address Change
						br
						| Shopping & Event Guide
						br
						| Parking Validation
						br
						| Gift Wrapping
						br
						| Wireless Internet Access
						br
						| Paging Service
						br
						| Member’s Overcoat
						br
						| Depositing Mobile Phone Charger
						br
						| Borrowing
						br
						| Fax Service
						br
						| Photocopying Service
						br
						| Customer Complaints
					td
						| B2F Locker & Depositing
						br
						| Service: B2F
						br
						| Baby Caring Room: 3F
						br
						| Shoe Repairing Room: B1F ATM: B2F Goods Delivery Service: We provide our customers the service to carry the goods customer bought in the Department Store to a nearby parking lot or taxi station; however, this service may be waited for a while based on customer’s demands. Please contact the information counter at B1F for more information, and we will be happy to serve you.
			br
			img(src="/images/Services/InStoreService_02.png")
			br
			br
			p Dear customer, you’re welcomed to express your enquiries or suggestions through our Customer Service Email eservice@reelshanghai.com, and we will be wholeheartedly at your service. (Warm tips: please leave your personal contact information such as name, telephone number, e-mail, etc. in your e-mail so that a timely contact will be facilitated.) Customer Service Line You can also call the customer service line +86 21 22309788 or 4001559788 for explanation and services, or inquire about the following FAQ for more information. Service hours of customer service line: 10:00 to 22:00
			img(src="/images/Services/InStoreService_03.png")
			br
			br
			p You can also call the customer service line +86 21 22309788 or 4001559788 for explanation and services, or inquire about the following FAQ for more information. Service hours of customer service line: 10:00 to 22:00