extends visit

block mainContent
	div(class="About")
		img(class="MainImage", src="/images/About/IMG_About.jpg")
		br
		img(src="/images/About/IMG_Sign.jpg")
		br
		p
			img(src="/images/About/About_01_#{Language}.png")
		- if(Language == "Ch")
			p 芮欧百货以Réel为名，源于法文，代表〝真实〞之意。芮欧百货希冀以其缤彩纷呈的高端精品，以及精致贴心的服务与梦幻多变的创意，诠释现代女性的万种风貌，创造令人惊艳向往的购物体验，成为现代女性乐为女人的摩登之苑。
			p 芮欧百货地理位置优越，位于上海市静安区精华地段，地处时尚、创意、文化交汇的南京西路，临近拥有百年历史的老上海时尚圣地百乐门，直接与地铁2号线与7号线以及机场航站楼的出口相接。项目周边还有久光百货、恒隆广场、静安嘉里中心等高端购物场所，与芮欧共同呈现最摩登的生活理念，促进时尚生活圈的共荣发展。此外，静安公园亦与芮欧毗邻而居，绿荫环绕的天然景致触手可及。
			p 芮欧百货的总面积达40,000平方米，总营业面积为约25,000平方米。项目建筑由国际著名的株式会社久米设计操刀，商场设计由株式会社品浩负责。芮欧的外观设计起源自美丽浪漫的水晶雪球 (Snow Globe)。象征着芮欧是一份特别的礼物，是一个充满美丽的旋律， 联想和记忆的地方。 在这个现代与梦幻邂逅的空间里期待着意想不到的美丽惊喜。时尚且具有人文气息的空间里，处处充满精彩变化，每个楼层都有专属的氛围与特色，巧妙的展现出都会的高雅时尚风格。
		- if(Language == "En")
			p Réel Department Store, with its name deriving from the French word “réel” that means “real” in English, expects to create a stunning shopping experi- ence with a profusion of high-end boutique stores, attentive services, and fantastic creativity, making it a mecca for modern women to enjoy, to show, and to share.
			p Ideally situated in the prime location of Jing’an District, Shanghai, Réel Department Store overlooks Nanjing West Road where fashion, culture and originality meet with each other and directly connects with exits of Metro Line 2 and Line 7 as well as the airport terminal. In the neighborhood lies Parliament, the century-old shrine of fashion in old Shanghai, and other high- end shopping malls including Jiuguang Department Store, Plaza 66, and Jing’an Kerry Center, presenting the most modern idea of life and promoting the common prosperity of style living. Adjacent to Jing'an Park, Réel Department Store also enjoys the natural verdancy and luxuriance.
			p Réel Department Store covers an area of 40,000 square meters, of which approximately 25,000 square meters are of business use. Designed by the internationally renowned design firm Kume Sekkei for the project construction and Pinhole for the shopping mall, its exterior design originates the concept from the beautiful and romantic Snow Globe, which symbolizes that Réel, as a special gift, is a place full of beautiful melodies, imagination and memories where unexpected surprise awaits you in the space of modern fantasy. Excitement and changes could be found everywhere in the place of fashion and culture, ingeniously showing the metropolitan elegance with atmosphere and style exclusive to each floor.
		p
			img(src="/images/About/About_02_#{Language}.png")
		- if(Language == "Ch")
			p 颠覆传统精品百货的经营模式，打造新颖个性化的购物乐趣！芮欧百货核心理念是创造“现代女性乐为女人的摩登之苑”，集世界时尚之精粹，融入追求卓越的创新与热情、对细节近乎苛求的坚持，营造愉悦的购物享受。
			p 芮欧百货力图使消费变成一段充满乐趣、个性、创意与精品的体验。芮欧百货将为时尚女性量身打造美丽的舞台，精采展示优雅的生活方式，并演绎时尚新主张，引领时尚潮流。
		- if(Language == "En")
			p A subversion of the traditional business pattern of boutique department store and a creation of original and personalized shopping experience, Réel Department Store focuses its core idea on creating a “modern mecca for modern women to be happy to be a woman”, with a collection of the world fashion and the innovation and passion of pursuing excellence, almost demanding adherence to details, to make the shopping experience joyful and pleasant.
			p Réel Shanghai Department Store aims to make consumption an experience of fun, personality, creativity and quality, tailoring for fashionable women a beautiful stage of showcasing elegant lifestyles, interpreting new ideas of fashion, and leading the fashion trend.
			p A total of five floors of shopping themes will be found in Réel Shanghai Department Store. The theme of “Fashion on the Move” for B1 floor creates customers a unique atmosphere of fashion and fantasy with international A-list cosmetics and fashion brands. On the 1F and 2F, “Luxury Classic” gath- ers the famous brands of international fashion and luxury. Avant-garde personality, fashion elements, and personalized brands shape the unique fashion trend of the 3F, where customers will enjoy the distinctive fashion elements and pioneering styles. Then the 4F will highlight the delight and attitude of fashion and life with the most complete range of brands of kid’s apparel and lingerie, building up the sweet space favoring modern women. In this floor, consumers can also enjoy the exquisite moments of slow living and spa services. On the top floor locate sky garden and specialty restaurants. The inter- national food court Réel Kitchen is located on B2 floor, where many world well-known food brands and the Chinese, Japanese, Korean, Vietnamese, Italian, American and other international cuisines are gathered around, making it the first choice for dating or family reunion.
		p
			img(src="/images/About/About_03_#{Language}.png")
		- if(Language == "Ch")
			p 芮欧百货共设五层消费购物主题馆。B1为“时尚零距离”，将国际一线化妆品品牌结合设计感十足的国际时尚潮流品牌，打造出具有时尚感与梦幻美感的独特氛围。1F、2F重现“经典奢华”，汇集国际时尚前端的名品。前卫个性、流行元素、个性化品牌组成了3F独具特色的个性潮流时尚，顾客在这里将独享时尚流行元素，领略时尚先锋的风采。4F则彰显时尚购物的生活情趣与态度，有市场上最齐全的精品童装品牌、独家引进“私密内衣区”的概念，构筑宠爱现代女性的甜蜜空间。在此楼面，消费者还可以享受慢活精致时光与美容服务。顶楼则设有空中花园与特色餐厅。地下二层是Réel Kitchen国际美食广场，聚集了全球多个知名美食品牌，将中式、日式、韩式、越式、意式，美式等各国美食收入囊中。无论是私人约会还是全家团聚，Réel Kitchen都是饕餮食客的首选。
		- if(Language == "En")
			p With inspiration and creativity from all over the world, Réel Shanghai Department Store offers consumers a shopping feast, customized concierge services, unique stylish atmosphere to exclusively enjoy the highly fashionable elements and styles.
			p Réel Shanghai Department Store will break the traditional pattern and bring a new concept to China’s retail malls, making it the shopping landmark of fashion, fun, and enjoyable luxury life in Shanghai. Réel Department Store is bound to be the modern mecca for modern women to be happy to be a woman.
		- if(Language == "Ch")
			p
				img(src="/images/About/About_04_#{Language}.png")
			p 芮欧百货集聚了来自世界各地的灵感和创意，让消费者尊享芮欧亲力打造的购物盛宴，提供定制化的礼宾服务，勾勒出独一无二的时尚氛围，让顾客们独享极具时尚的流行元素、领略时尚先锋的风采。
			p 芮欧将打破传统的格局，赋予中国零售百货一个全新的概念，成为上海最时尚、最具乐趣与最享受的奢侈生活时尚购物地标，超越传统的精品商场，芮欧百货势将成为现代女性乐为女人的摩登之苑。
