.Footer{
	z-index:	600;
	img{
		position: absolute;
		top:0px;
	}
	.FooterItem{
		cursor:	pointer;
	}
	.LanguageSelectionContainer{
		top:	0px;
		left:	0px;
		img.En{
			left:40px;
		}
		img.Ch{
			left:64px;
		}
	}
	.CopyrightContainer{
		left:				50%;
		&.En{
			width:			514px;
			margin-left:	-257px;
		}
		&.Ch{
			width:			466px;
			margin-left:	-233px;
		}
		
	}
	.OtherLinkContainer{
		top:	0px;
		right:	0px;
		width:	355px;
		img.Privacy[language=En]{
			right:333px;
		}
		img.Privacy[language=Ch]{
			right:304px;
		}
		img.Concern[language=En]{
			right:266px;
		}
		img.Concern[language=Ch]{
			right:251px;
		}
		img.Contact[language=En]{
			right:197px;
		}
		img.Contact[language=Ch]{
			right:198px;
		}
		img.Recruiting[language=En]{
			right:130px;
		}
		img.Recruiting[language=Ch]{
			right:146px;
		}
		img.FAQ[language=En]{
			right:94px;
		}
		img.FAQ[language=Ch]{
			right:93px;
		}
		img.SiteMap{
			right:40px;
		}
	}
	.Mark{
		top:		-74px;
		left:		40px;
		width:		77px;
		height:		74px;
	}
}
