@FontColor:			#808080;
@TitleColor:		#999999;

.MainContent .MemberShipBook{
	top:			45px;
	left:			50%;
	width:			755px;
	margin-left:	-377px;
	margin-bottom:	45px;
	p{
		color:			@FontColor;
		font-size:		11px;
		line-height:	22px;
	}
	h3{
		color:			@TitleColor;
		font-size:		14px;
		margin-top:		40px;
	}
	h4{
		color:			@TitleColor;
		font-size:		12px;
		margin-top:		30px;
	}
}

.MainContent .Petition{
	top:			45px;
	left:			50%;
	width:			755px;
	margin-left:	-377px;
	margin-bottom:	45px;
	p{
		color:			@FontColor;
		font-size:		11px;
		line-height:	22px;
	}
	h5{
		color:			@FontColor;
	}
	img{
		margin-top:5px;
		margin-bottom:5px;
	}
	table{
		width:100%;
	}
	table, tr, td{
		margin:			0px;
		padding:		0px;
		border-spacing:	0px;
	}
	tr{
		height:65px;
	}
	td{
		color:			@FontColor;
		font-size:		11px;
		line-height:	22px;
		border-bottom:	solid 1px #666666;
		text-align:		center;
	}

	table.SmallTable{
		width:	500px;
		tr{
			height:22px;
		}
		td{
			color:			@FontColor;
			font-size:		11px;
			line-height:	22px;
			border-bottom:	solid 0px #666666;
			padding-right:	15px;
			text-align:		left;
		}
	}

	table.ServiceTable{
		border-spacing:	20px;
		th{
			color:			@FontColor;
			font-size:		11px;
			text-align:		left;
			vertical-align:	bottom;
			height:			25px;
		}
		td{
			height:			350px;
			color:			@FontColor;
			font-size:		11px;
			line-height:	22px;
			border:			solid 1px #666666;
			padding-left:	45px;
			padding-top:	45px;
			text-align:		left;
			vertical-align:	top;
		}
	}
}

.MainContent .Booking{
	top:			45px;
	left:			50%;
	width:			755px;
	margin-left:	-377px;
	margin-bottom:	45px;
	p{
		color:			@FontColor;
		font-size:		11px;
		line-height:	22px;
	}
}

.ServicesSelector{
	img{
		cursor:	pointer;
	}
}